*{ margin: 0; padding: 0; }
a{ color: black; text-decoration: none; }

header, footer{
	width: 100%;
	padding: 10px;
	text-align: center;
	background: #faefc5;
}

nav {
	width: 100%;
	padding: 15px;
	background: #fae187;
}

nav > ul { width: 100%; }
nav > ul > li {
	width: 220px;
	display: inline-block;
	text-align: center;
}
nav > ul > li > a {
	text-decoration: none;
	color: #000;
}